.header-logged-in,
.image-148-icon {
  position: absolute;
  left: 0;
  width: 1500px;
}
.image-148-icon {
  top: 101px;
  height: 509px;
  object-fit: cover;
}
.header-logged-in {
  top: 0;
  background-color: var(--background);
  box-shadow: 0 4px 16px rgba(17, 34, 17, 0.05);
  height: 101px;
}
.ch-logo-vng-12,
.logo-ko-ch-k-nn-1 {
  position: absolute;
  top: 16px;
  left: 139px;
  width: 201px;
  height: 54px;
  object-fit: cover;
}
.logo-ko-ch-k-nn-1 {
  top: 0;
  left: 0;
  width: 132px;
  height: 83px;
}
.ch-logo-vng-1-container {
  position: absolute;
  top: 11px;
  left: 580px;
  width: 340px;
  height: 83px;
  cursor: pointer;
}
.profiletab-child {
  position: absolute;
  top: 7px;
  left: 193px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.qun-l-trng,
.xin-cho-hong {
  position: absolute;
  top: 10px;
  left: 18px;
  font-size: var(--text-sm-medium-size);
  font-family: var(--font-be-vietnam-pro);
  color: var(--black);
  text-align: right;
}
.qun-l-trng {
  top: 25px;
  left: 77px;
  font-size: var(--montserrat-medium-12-size);
  letter-spacing: 0.02em;
  font-family: var(--font-be-vietnam);
  color: var(--color-goldenrod);
}
.plant-icon {
  position: absolute;
  top: 28px;
  left: 170px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.profiletab {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white1);
  position: absolute;
  top: 26px;
  left: 1243px;
  border-radius: var(--br-6xl);
  box-shadow: 0 4px 4px rgba(218, 218, 218, 0.25);
  width: 235px;
  height: 50px;
}
.frame1,
.frame2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
}
.frame2 {
  height: 101px;
  overflow: hidden;
}
.frame1 {
  height: 610px;
}
.header {
  align-self: stretch;
}
.top {
  width: 750px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.div6,
.frame5 {
  position: absolute;
}
.div6 {
  top: 0;
  left: calc(50% - 380.5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame5 {
  top: 31px;
  left: 19px;
  width: 761px;
  height: 84px;
  overflow: hidden;
}
.biu-tng-ca {
  align-self: stretch;
  position: relative;
  line-height: 32px;
  justify-content: center;
  height: 41px;
  flex-shrink: 0;
}
.biu-tng-ca,
.left,
.nm-gia-nhng {
  display: flex;
  align-items: center;
}
.nm-gia-nhng {
  position: relative;
  line-height: 20px;
  width: 747px;
  flex-shrink: 0;
}
.left {
  width: 746px;
  flex-direction: row;
  justify-content: flex-start;
  text-align: justify;
  font-size: var(--text-sm-medium-size);
  color: var(--black);
  font-family: var(--text-sm-medium);
}
.divider {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--gray-200);
  box-sizing: border-box;
  height: 1px;
}
.frame7,
.title {
  position: absolute;
  top: 0;
}
.title {
  left: 26px;
  width: 759px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame7 {
  left: 5px;
  width: 804px;
  height: 188px;
  overflow: hidden;
}
.frame6 {
  top: 0;
  left: -5px;
  width: 809px;
}
.frame3,
.frame4,
.frame6 {
  position: absolute;
  height: 188px;
  overflow: hidden;
}
.frame4 {
  top: 0;
  left: -4px;
  width: 799px;
}
.frame3 {
  top: 663px;
  left: calc(50% - 405px);
  width: 809px;
}
.frame,
.ni-hin {
  position: relative;
}
.frame {
  width: 1500px;
  height: 851px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--text-2xl-medium-size);
  color: var(--color-saddlebrown);
  font-family: var(--font-pattaya);
}
.ni-hin {
  align-self: stretch;
  font-weight: 600;
}
.cc-phng-v {
  position: relative;
  font-size: var(--text-base-regular-size);
  line-height: 128.57%;
  display: inline-block;
  width: 411px;
  height: 144px;
  flex-shrink: 0;
}
.ni-hin-i-parent {
  width: 413px;
  height: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 413px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.equivalent-t-hp {
  position: relative;
  font-size: var(--text-base-regular-size);
  line-height: 128.57%;
  display: inline-block;
  width: 411px;
}
.ba-n-5-sao-michelin-parent,
.frame-inner1 {
  width: 413px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ba-n-5-sao-michelin-parent {
  gap: var(--gap-3xs);
}
.frame-inner1 {
  position: absolute;
  top: 0;
  left: 432px;
}
.frame10,
.frame11,
.frame9 {
  position: absolute;
  top: 0;
  left: 443px;
  width: 845px;
  height: 164px;
  overflow: hidden;
}
.frame10,
.frame9 {
  left: 126px;
  width: 1288px;
  height: 176px;
}
.frame9 {
  top: 455px;
  left: 0;
  width: 1414px;
  height: 164px;
}
.frame-icon {
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-inner3,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  flex-shrink: 0;
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-inner3 {
  position: absolute;
  top: 0;
  left: calc(50% - 583px);
  flex-direction: column;
}
.frame12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1418px;
  height: 420px;
  overflow: hidden;
}
.frame8 {
  position: relative;
  width: 1500px;
  height: 631px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-group,
.frame-inner4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: row;
  gap: var(--gap-base);
}
.frame-inner4 {
  position: absolute;
  top: 0;
  left: calc(50% - 369px);
  width: 884px;
  flex-direction: column;
}
.frame14,
.frame15,
.frame16,
.frame17 {
  position: absolute;
  top: 0;
  left: -104px;
  width: 1418px;
  height: 420px;
  overflow: hidden;
}
.frame15,
.frame16,
.frame17 {
  left: 439px;
  width: 853px;
  height: 164px;
}
.frame15,
.frame16 {
  left: -65px;
  width: 1271px;
  height: 169px;
}
.frame15 {
  top: 446px;
  left: -128px;
  width: 1412px;
  height: 164px;
}
.bg,
.frame13 {
  position: relative;
}
.frame13 {
  width: 1374px;
  height: 648px;
  overflow: hidden;
  flex-shrink: 0;
}
.bg {
  background: linear-gradient(90deg, #000, transparent 21.35%);
  width: 1500px;
  height: 508px;
  transform: rotate(180deg);
  z-index: 0;
}
.eaters-collective-ddzyotzunbk-,
.thomas-schweighofer-p7q36vpbfs {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 300px;
  height: 254px;
  z-index: 1;
}
.thomas-schweighofer-p7q36vpbfs {
  top: 254px;
  left: 300px;
  z-index: 2;
}
.erik-lundqvist-u4wbbx6u0q-uns,
.herson-rodriguez-azoqcek2kuq-u,
.ralph-ravi-kayden-myeongcibcq- {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 1200px;
  width: 300px;
  height: 254px;
  z-index: 3;
}
.herson-rodriguez-azoqcek2kuq-u,
.ralph-ravi-kayden-myeongcibcq- {
  left: 600px;
  z-index: 4;
}
.ralph-ravi-kayden-myeongcibcq- {
  top: 254px;
  left: 0;
  z-index: 5;
}
.aaron-huber-s95ob2n9jng-unspla,
.francesca-tosolini-21xbudin8ao,
.jarek-ceborski-jn7uvecdf6u-uns {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 900px;
  width: 300px;
  height: 254px;
  z-index: 6;
}
.francesca-tosolini-21xbudin8ao,
.jarek-ceborski-jn7uvecdf6u-uns {
  left: 300px;
  z-index: 7;
}
.francesca-tosolini-21xbudin8ao {
  top: 254px;
  left: 1200px;
  z-index: 8;
}
.alex-munsell-auibtacsh6e-unspl,
.ian-dooley-jr5txknso-unsplas,
.jarek-ceborski-jn7uvecdf6u-uns-icon {
  position: absolute;
  margin: 0 !important;
  top: 254px;
  left: 900px;
  width: 300px;
  height: 254px;
  z-index: 9;
}
.ian-dooley-jr5txknso-unsplas,
.jarek-ceborski-jn7uvecdf6u-uns-icon {
  left: 600px;
  z-index: 10;
}
.jarek-ceborski-jn7uvecdf6u-uns-icon {
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 11;
}
.aaron-huber-g7se2s4lab4-unspla-icon,
.image-7-icon,
.kari-shea-mfj9g64-wxq-unsplash-icon {
  position: absolute;
  margin: 0 !important;
  top: 254px;
  left: 300px;
  width: 300px;
  height: 254px;
  object-fit: cover;
  z-index: 12;
}
.aaron-huber-g7se2s4lab4-unspla-icon,
.image-7-icon {
  left: 898.4px;
  width: 298.4px;
  z-index: 13;
}
.image-7-icon {
  left: 1196.9px;
  width: 303.1px;
  z-index: 14;
}
.francesca-tosolini-21xbudin8ao-icon,
.ian-dooley-jr5txknso-unsplas-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 600px;
  width: 298.4px;
  height: 254px;
  object-fit: cover;
  z-index: 15;
}
.ian-dooley-jr5txknso-unsplas-icon {
  left: 1196.9px;
  width: 303.1px;
  z-index: 16;
}
.frame-child5,
.image-3-icon,
.image-4-icon,
.image-5-icon,
.image-6-icon,
.polygon-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 300px;
  width: 300px;
  height: 254px;
  object-fit: cover;
  z-index: 17;
}
.frame-child5,
.image-3-icon,
.image-5-icon,
.image-6-icon,
.polygon-icon {
  top: 254px;
  left: 0;
  z-index: 18;
}
.frame-child5,
.image-5-icon,
.image-6-icon,
.polygon-icon {
  left: 600px;
  width: 298.4px;
  z-index: 19;
}
.frame-child5,
.image-6-icon,
.polygon-icon {
  top: 0;
  left: 898.4px;
  z-index: 20;
}
.frame-child5,
.polygon-icon {
  top: 236px;
  left: 1379.7px;
  width: 13.3px;
  height: 35px;
  object-fit: contain;
  z-index: 21;
}
.frame-child5 {
  top: 237px;
  left: 107px;
  z-index: 22;
}
.bg-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.i-ng-cc,
.spa-th-gin1 {
  position: absolute;
  left: 54px;
  display: inline-block;
}
.i-ng-cc {
  top: 124px;
  line-height: 210%;
  width: 533px;
}
.spa-th-gin1 {
  top: 45px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-pattaya);
  color: var(--color-saddlebrown);
  text-align: left;
  width: 1179px;
}
.i-ng-cc-th-mt-xa-xut-sc-parent {
  position: absolute;
  top: 645px;
  left: 0;
  width: 1500px;
  height: 573px;
  background-image: url(./public/frame-359@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.container {
  position: absolute;
  top: 1274px;
  left: calc(50% - 750px);
  background-color: var(--background);
  width: 1500px;
  height: 637px;
}
.nh-gi1 {
  position: absolute;
  top: 0;
  left: 142px;
}
.frame-child6,
.frame18 {
  position: absolute;
  left: 0;
}
.frame-child6 {
  top: 31px;
  border-radius: var(--br-31xl);
  background-color: rgba(0, 0, 0, 0.31);
  width: 99px;
  height: 2px;
}
.frame18 {
  top: 0;
  width: 324px;
  height: 67px;
  overflow: hidden;
}
.david-boca-h2avc2mh66q-unsplas-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 345px;
  height: 427px;
  object-fit: cover;
}
.frame-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 10px;
  object-fit: cover;
}
.frame-child8 {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  width: 345px;
  height: 229px;
}
.y-l-mt {
  margin: 0;
}
.y-l-mt-container {
  position: absolute;
  top: 27px;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 237.1px;
}
.div7 {
  top: 0;
  left: 256.2px;
  font-size: var(--font-size-91xl);
  font-family: var(--font-abril-fatface);
  color: var(--color-burlywood-100);
  display: inline-block;
  width: 36.2px;
}
.bng-trn,
.div7,
.text {
  position: absolute;
}
.text {
  top: 0;
  left: 26px;
  width: 292.4px;
  height: 219px;
}
.bng-trn {
  top: 178px;
  left: 27px;
  font-size: var(--font-size-lg);
  line-height: 230%;
  font-weight: 600;
  color: var(--color-burlywood-200);
}
.rectangle-parent2 {
  position: absolute;
  top: 51px;
  left: 0;
  width: 345px;
  height: 235px;
  font-size: var(--text-sm-medium-size);
}
.frame-child9 {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  width: 344px;
  height: 229px;
}
.div8,
.mt-a-im {
  position: absolute;
  display: inline-block;
}
.mt-a-im {
  top: 44px;
  left: 0;
  line-height: 24px;
  width: 236.5px;
}
.div8 {
  top: 0;
  left: 249px;
  font-size: var(--font-size-91xl);
  font-family: var(--font-abril-fatface);
  color: var(--color-burlywood-100);
  width: 36.1px;
}
.kim-anh,
.text1 {
  position: absolute;
  left: 32.4px;
}
.text1 {
  top: 0;
  width: 285.1px;
  height: 148px;
}
.kim-anh {
  top: 168px;
  font-size: var(--font-size-lg);
  line-height: 230%;
  font-weight: 600;
  color: var(--color-burlywood-200);
  display: inline-block;
  width: 159.5px;
}
.rectangle-parent3 {
  position: absolute;
  top: 51px;
  left: 365px;
  width: 344px;
  height: 235px;
}
.dch-v-khch,
.div9 {
  position: absolute;
  display: inline-block;
}
.dch-v-khch {
  top: 44px;
  left: 0;
  line-height: 24px;
  width: 237.1px;
}
.div9 {
  top: 0;
  left: 249.7px;
  font-size: var(--font-size-91xl);
  font-family: var(--font-abril-fatface);
  color: var(--color-burlywood-100);
  width: 36.2px;
}
.text2,
.thanh-doan {
  position: absolute;
  left: 32.5px;
}
.text2 {
  top: 0;
  width: 285.9px;
  height: 148px;
}
.thanh-doan {
  top: 168px;
  font-size: var(--font-size-lg);
  line-height: 230%;
  font-weight: 600;
  color: var(--color-burlywood-200);
  display: inline-block;
  width: 160px;
}
.group-parent8,
.rectangle-parent4 {
  position: absolute;
  top: 51px;
  left: 730px;
  width: 345px;
  height: 235px;
}
.group-parent8 {
  top: 0;
  left: 0;
  width: 1075px;
  height: 286px;
}
.mask-group-icon,
.mask-group-icon1,
.mask-group-icon2 {
  position: absolute;
  top: 184px;
  left: 997px;
  width: 51px;
  height: 51px;
  object-fit: cover;
}
.mask-group-icon1,
.mask-group-icon2 {
  left: 631px;
}
.mask-group-icon2 {
  left: 267px;
}
.frame-parent3,
.frame19 {
  position: absolute;
  top: 71px;
  left: 372px;
  width: 1075px;
  height: 286px;
}
.frame19 {
  top: 119px;
  left: 22px;
  width: 1447px;
  height: 427px;
  overflow: hidden;
  font-size: var(--text-base-regular-size);
  color: var(--black);
  font-family: var(--font-be-vietnam-pro);
}
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 15.5px;
  width: 1469px;
  height: 546px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-saddlebrown);
  font-family: var(--font-pattaya);
}
.frame-parent1 {
  position: relative;
  width: 1500px;
  height: 1932px;
  text-align: justify;
  font-size: var(--font-size-lg);
}
.gioi-thieu-ve-khach-san {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-32xl);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--black);
  font-family: var(--font-be-vietnam-pro);
}

canvas#canvas2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  pointer-events: none;
}

.canvas-wrap {
  background: url(https://dl.dropboxusercontent.com/u/3465596/stark-wolf.png) no-repeat;
 }