.navigation-header-child {
  position: absolute;
  top: 79px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1500px;
  height: 1px;
}
.ch-logo-vng-12,
.logo-ko-ch-k-n-12 {
  position: absolute;
  top: 15.1px;
  left: 126.8px;
  width: 190.2px;
  height: 51.1px;
  object-fit: cover;
}
.logo-ko-ch-k-n-12 {
  top: 0;
  left: 0;
  width: 124.9px;
  height: 78.5px;
}
.ch-logo-vng-1-container,
.frame2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 317px;
  height: 78.5px;
}
.frame2 {
  top: -2px;
  left: 561px;
  width: 378px;
  overflow: hidden;
}
.frame1,
.navigation-header {
  position: absolute;
  left: 0;
  width: 1500px;
}
.navigation-header {
  top: 2px;
  background-color: var(--background);
  height: 80px;
}
.frame1 {
  top: 0;
  height: 82px;
  overflow: hidden;
}
.qu-khch-vui {
  position: absolute;
  top: 686px;
  left: calc(50% - 203px);
  font-weight: 300;
  display: inline-block;
  width: 415px;
  height: 52px;
}
.frame {
  position: relative;
  width: 1500px;
  height: 738px;
  overflow: hidden;
  flex-shrink: 0;
}
.icons1,
.stepper-child {
  max-height: 100%;
  object-fit: cover;
}
.stepper-child {
  position: absolute;
  top: 30px;
  left: 36px;
  width: 222px;
}
.icons1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.icons {
  position: absolute;
  top: 0;
  left: 251px;
  border-radius: 64px;
  background-color: var(--status-error);
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  box-sizing: border-box;
}
.item-icon {
  left: 0;
  width: 60px;
  object-fit: cover;
}
.item-icon,
.item-icon1,
.stepper {
  position: absolute;
  top: 0;
  height: 60px;
}
.item-icon1 {
  left: 130px;
  width: 60px;
  object-fit: cover;
}
.stepper {
  left: 121px;
  width: 311px;
}
.t-phng-khng {
  position: absolute;
  top: 110px;
  left: calc(50% - 264.5px);
  font-weight: 600;
}
.bg,
.frame4 {
  position: absolute;
  top: 0;
}
.frame4 {
  left: 33.5px;
  width: 553px;
  height: 156px;
  overflow: hidden;
}
.bg {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-saddlebrown);
  box-shadow: 0 8px 15px rgba(50, 82, 223, 0.3);
}
.back-to-home {
  position: absolute;
  width: 73.81%;
  top: 18%;
  left: 13.33%;
  font-size: var(--font-size-lg);
  line-height: 170%;
  font-weight: 500;
  font-family: var(--font-be-vietnam-pro);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.btn-primary {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 452px;
  left: calc(50% - 81.5px);
  width: 210px;
  height: 50px;
}
.frame5,
.group-1-1 {
  position: absolute;
  width: 362px;
}
.group-1-1 {
  top: 0;
  left: calc(50% - 181px);
  height: 330px;
  object-fit: cover;
}
.frame5 {
  top: 194px;
  left: 87.5px;
  height: 502px;
  overflow: hidden;
}
.frame3,
.thanh-toan-that-bai-b3 {
  position: relative;
  overflow: hidden;
}
.frame3 {
  width: 586px;
  height: 696px;
  flex-shrink: 0;
  margin-top: -606px;
  font-size: 36px;
  color: #152c5b;
}
.thanh-toan-that-bai-b3 {
  background-color: var(--color-white1);
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
  color: #b0b0b0;
  font-family: var(--font-be-vietnam-pro);
}

canvas#canvas2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  pointer-events: none;
}

.canvas-wrap {
  background: url(https://dl.dropboxusercontent.com/u/3465596/stark-wolf.png) no-repeat;
 }