.navigation-header-child1 {
  position: absolute;
  top: 79px;
  left: 0;
  background-color: var(--color-saddlebrown);
  width: 1500px;
  height: 1px;
}
.ch-logo-vng-14,
.logo-ko-ch-k-n-14 {
  position: absolute;
  top: 15.1px;
  left: 126.8px;
  width: 190.2px;
  height: 51.1px;
  object-fit: cover;
}
.logo-ko-ch-k-n-14 {
  top: 0;
  left: 0;
  width: 124.9px;
  height: 78.5px;
}
.ch-logo-vng-1-parent2,
.frame24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 317px;
  height: 78.5px;
}
.frame24 {
  top: -2px;
  left: 561px;
  width: 378px;
  overflow: hidden;
}
.frame23,
.navigation-header2 {
  position: absolute;
  left: 0;
  width: 1500px;
}
.navigation-header2 {
  top: 2px;
  background-color: var(--background);
  height: 80px;
}
.frame23 {
  top: 0;
  height: 82px;
  overflow: hidden;
}
.chng-ti-s1 {
  position: absolute;
  top: 686px;
  left: calc(50% - 207px);
  font-weight: 300;
  display: inline-block;
  width: 415px;
  height: 52px;
}
.frame22 {
  position: relative;
  width: 1500px;
  height: 738px;
  overflow: hidden;
  flex-shrink: 0;
}
.stepper-icon {
  position: absolute;
  top: 0;
  left: 61px;
  width: 290px;
  height: 60px;
  object-fit: cover;
}
.t-phng-thnh {
  position: absolute;
  top: 110px;
  left: calc(50% - 206px);
  font-weight: 600;
}
.bg4,
.frame26 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame26 {
  width: 412px;
  height: 156px;
  overflow: hidden;
}
.bg4 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-saddlebrown);
  box-shadow: 0 8px 15px rgba(50, 82, 223, 0.3);
}
.back-to-home {
  position: absolute;
  width: 73.81%;
  top: 18%;
  left: 13.33%;
  font-size: var(--font-size-lg);
  line-height: 170%;
  font-weight: 500;
  font-family: var(--font-be-vietnam-pro);
  color: var(--color-white1);
  text-align: center;
  display: inline-block;
}
.btn-primary2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 452px;
  left: calc(50% - 105px);
  width: 210px;
  height: 50px;
}
.frame27,
.group-1-1 {
  position: absolute;
  width: 362px;
}
.group-1-1 {
  top: 0;
  left: calc(50% - 181px);
  height: 330px;
  object-fit: cover;
}
.frame27 {
  top: 194px;
  left: 25px;
  height: 502px;
  overflow: hidden;
}
.frame25 {
  position: relative;
  width: 412px;
  height: 696px;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: -606px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue);
}
.thanh-ton-b3-xong-kanh {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray-200);
  font-family: var(--font-be-vietnam-pro);
}

canvas#canvas2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  pointer-events: none;
}

.canvas-wrap {
  background: url(https://dl.dropboxusercontent.com/u/3465596/stark-wolf.png) no-repeat;
 }