@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    overflow: hidden;
    font-family:'Be Vietnam Pro','Times New Roman';
    color:black;
}
i{
    font-size: 30px;
    color:white;
  
}

.login{
    width: 660px;
    height: 593px;
}
input[type=email],
input[type=password],
input[type=text]
{
    border-radius: 30px;
    height: 70px;
    border:2px solid #789ADE;   
}

input[type=submit]{
    color:white;
    background-color: #8699DA;
    width: 100%;
    font-size: 28px;
    border-radius: 30px;
    height: 70px;
}
input[type=radio]{
    color:white;
    background-color: #9EB0EA;
    width: 38px;
    font-size: 28px;
    height: 38px;
}
.tem,
.forget
{
    display: inline-block;
    line-height: 40px;
}
.forget{
    color: #8699DA;
}